body{
    font-family: 'Roboto', sans-serif !important;
}
.container{
    padding: 0px;
    margin: 0px;
}
.banner{
    height: 60px;
    background-color: #1976d2;
    padding: 0% 15.625% 0% 15.625%;
}
.websiteTitle{
    font-size: 24px;
    float: left;
    color: #FFFFFF;
    line-height: 60px;
}
.websiteTimer{
    font-size: 18px;
    float: right;
    color: #FFFFFF;
    line-height: 60px;
}